{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina Go</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
    }

    th, td {
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <h1>Loja</h1>
  <div>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <!-- Go Script for loop the Struct Produtos -->
        {{range .}}
        <tr>
          <td>{{.Nome}}</td>
          <td>{{.Descricao}}</td>
          <td>{{.Preco}}</td>
          <td>{{.Quantidade}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</body>
</html>
{{end}}